
<div id="Section4" class="position-relative ms-5 me-5">
    <div >
        <!-- <h1 class=" text text-5xl">You have no idea what you are capable of , until you try...!</h1> -->
         <marquee class="text-5xl" direction="left" scrollamount="10"><h1>You have no idea what you are capable of , until you try...</h1></marquee>
    </div>
    <div class="mt-5 mb-5 me-5">
      
        <details>
        <summary class="display-6" style=" font-weight: bold;">Education</summary>
        <div class="m-5">
        <h4>Chandigarh University, Punjab</h4>
        B.E.Computer Science, and Engineering, July 2020
        <h4>Saharanpur Public School, Saharanpur, Uttar Pradesh</h4>
        12th, 70.6% : Passout - 2016
        <h4>Saharanpur Public School, Saharanpur, Uttar Pradesh</h4>
        10th, 77.6% : Passout-2014
    </div>
</details>
    </div>
</div>
