<div class="skills-wrapper">
    <h1 class="skills-title"> My Skill Set</h1>
  
    <div class="skills-category">
      <h2>Primary Skills</h2>
      <ul>
        <li>JavaScript (ES6+)</li>
        <li>TypeScript / Java</li>
        <li>Angular</li>
        <li>ReactJs</li>
        <li>Ngrx / Redux / Context API</li>
        <li>HTML / CSS / Bootstrap</li>
        <li>TailwindCSS / Responsive Design</li>
        <li>RESTful APIs</li>
      </ul>
    </div>
  
    <div class="skills-category">
      <h2>Secondary Skills</h2>
      <ul>
        <li>Performance Optimization</li>
        <li>Server-Side Rendering (SSR)</li>
        <li>Lazy Loading</li>
        <li>State Management / Signals</li>
        <li>Docker</li>
        <li>Azure</li>
      </ul>
    </div>
  
    <div class="skills-category">
      <h2>Certifications & Practices</h2>
      <ul>
        <li>Agile / Scrum</li>
        <li>AI Integration</li>
        <li>Continuous Learning</li>
      </ul>
    </div>
  
    <div class="skills-category">
      <h2>Work Habits</h2>
      <ul>
        <li>Team Collaboration</li>
        <li>Communication</li>
        <li>GIT</li>
        <li>JIRA</li>
      </ul>
    </div>
  </div>